{{> header}}
<section id="terms" class="section-container">
  <h3>{{default_domain}} Lietošanas noteikumi</h3>
  <p>
    Izmantojot tīmekļa vietni
    <b></b><a href="https://{{default_domain}}">https://{{default_domain}}</a></b>, 
    jūs piekrītat šiem lietošanas noteikumiem, kā arī piemērojamiem normatīvajiem aktiem.
    Ja nepiekrītat šiem noteikumiem, jūs nedrīkstat izmantot šo tīmekļa vietni.
  </p>
  <p>
    {{site_name}} nav atbildīgs par zaudējumiem, kas var rasties šīs vietnes vai tajā ievietoto saišu izmantošanas dēļ.
    Lietotājs pats ir atbildīgs par saišu atvēršanu un tālāku izmantošanu.
  </p>
  <p>
    {{site_name}} vietnē var būt tehniskas vai saturiskas kļūdas.
    {{site_name}} negarantē, ka visa informācija vienmēr ir precīza, pilnīga vai aktuāla.
  </p>
  <p>
    {{site_name}} nav atbildīgs par ārējo vietņu saturu, uz kurām ved saīsinātās saites.
    Saišu izmantošana notiek pēc paša lietotāja izvēles un atbildības.
  </p>
  <p>
    {{site_name}} var mainīt šos lietošanas noteikumus bez iepriekšēja brīdinājuma.
    Turpinot izmantot šo vietni, jūs piekrītat aktuālajai noteikumu versijai.
  </p>
</section>
{{> footer}}