<tr id="tr-{{id}}" {{#if swap_oob}}hx-swap-oob="true"{{/if}}>
  <td class="original-url right-fade">
    <a href="{{target}}" target="_blank" rel="noopener noreferrer">
      {{target}}
    </a>
    <p class="description">
      autors&nbsp;
      {{~#if user_id~}}
        <a 
          aria-label="Skatīt lietotāju" 
          data-tooltip="Skatīt lietotāju" 
          hx-get="/api/users/admin"
          hx-target="closest table"
          hx-swap="outerHTML" 
          hx-sync="this:replace"
          hx-indicator="closest table"
          hx-vals='{"search":"{{email}}"}'
          onclick="setTab(event, 'tab-links')"
        >
          {{email}}
        </a>
        {{#ifEquals @root.query.user email}}
        {{else}}
          &nbsp;(
          <a 
            aria-label="Skatīt šī lietotāja saites" 
            data-tooltip="Skatīt šī lietotāja saites" 
            hx-get="/api/links/admin"
            hx-target="closest table"
            hx-swap="outerHTML" 
            hx-sync="this:replace"
            hx-indicator="closest table"
            hx-vals='{"user":"{{email}}"}'
          >
            skatīt saites
          </a>)
        {{/ifEquals}}
      {{~else~}}
        <a 
          aria-label="Skatīt anonīmās saites" 
          data-tooltip="Skatīt anonīmās saites" 
          hx-get="/api/links/admin"
          hx-target="closest table"
          hx-swap="outerHTML" 
          hx-sync="this:replace"
          hx-indicator="closest table"
          hx-vals='{"anonymous":"true"}'
        >
          Anonīms
        </a>
      {{~/if~}}
      &nbsp;{{~#if description~}}· {{description}}{{~/if}}
    </p>
  </td>
  <td class="created-at">
    {{relative_created_at}}
    {{#if relative_expire_in}}
      <p class="description">
        Derīga vēl {{relative_expire_in}}
      </p>
    {{/if}}
  </td>
  <td class="short-link right-fade">
    <div class="short-link-wrapper">
      <div class="clipboard small">
        <button 
          aria-label="Kopēt" 
          hx-on:click="handleShortURLCopyLink(this);"
          data-url="{{link.url}}"
        >
          {{> icons/copy}}
        </button>
        {{> icons/check}}
      </div>
      <a href="{{link.url}}">/{{link.address}}</a>
    </div>
    <p class="description">
      <a 
        aria-label="Skatīt šī domēna saites" 
        data-tooltip="Skatīt šī domēna saites" 
        hx-get="/api/links/admin"
        hx-target="closest table"
        hx-swap="outerHTML" 
        hx-sync="this:replace"
        hx-vals='{"domain":"{{domain}}"}'
        hx-indicator="closest table"
      >{{domain}}</a>
    </p>
  </td>
  <td class="views">
    {{visit_count}}
  </td>
    {{> admin/links/actions}}
</tr>
<tr class="edit">
  <td class="loading">
    {{> icons/spinner}}
  </td>
</tr>