<h2>
  Pielāgots domēns
</h2>
<p>
  Vari iestatīt pielāgotu domēnu saviem saīsinātajiem URL, lai
  <b>{{default_domain}}/shorturl</b> vietā varētu izmantot
  <b>saite.lv/shorturl.</b>
</p>

{{#if server_cname_address}}
  <p>
    Norādi sava domēna A ierakstu uz 
    {{#if server_ip_address}}
      <b>{{server_ip_address}}</b>
    {{else}}
      mūsu <b>IP adresi</b>
    {{/if}} vai sava apakšdomēna CNAME ierakstu uz
    <b>{{server_cname_address}}</b>. Ja izmanto <b>Cloudflare</b>,
    pārliecinies, ka apakšdomēnam ir ieslēgts <b>DNS only</b> režīms.
  </p>
  <p>Pēc tam pievieno domēnu, izmantojot zemāk esošo formu:</p>
{{else}}
  <p>
    Norādi sava domēna A ierakstu uz 
    {{#if server_ip_address}}
      <b>{{server_ip_address}}</b>
    {{else}}
      mūsu <b>IP adresi</b>
    {{/if}} 
    pēc tam pievieno domēnu, izmantojot zemāk esošo formu:
  </p>
{{/if}}

{{> settings/domain/table}}
<div class="add-domain-wrapper">
  <button
    type="button"
    class="secondary show-domain-form"
    hx-indicator=".add-domain-wrapper"
    hx-get="/add-domain-form"
    hx-target="#domain-form-wrapper"
    hx-swap="innerHTML"
    hx-on::after-request="event.srcElement.classList.add('hidden')"
  >
    <span>{{> icons/plus}}</span>
    Pievienot domēnu
  </button>
  {{> icons/spinner}}
  <div id="domain-form-wrapper">
  </div>
</div>
{{> settings/domain/dialog}}